.well{
	margin-top: 35%;
	font-family: 'Inconsolata', monospace;
}

.well .label{
	font-weight: 500;
}

.label{
	margin-left: 55px;
	/*margin-bottom: 20px;*/
}
.input-group.form-group{
	margin-top: 5px;
}
.loginBtn{
	margin-left: 45.5%;
}